accelerate
altair
appdirs
attrs
audioread
auraloss
backports-zoneinfo
beautifulsoup4
bigvgan @ git+https://github.com/152334H/BigVGAN.git
blinker
boltons
cachetools
certifi
cffi
charset-normalizer
clean-fid
click
clip-anytorch
colorama
cycler
decorator
docker-pycreds
docstring-parser
einops
entrypoints
filelock
fonttools
ftfy
gdown
gitdb
gitpython
huggingface-hub
idna
imageio
importlib-metadata
importlib-resources
inflect
jinja2
joblib
jsonmerge
jsonschema
k-diffusion
kiwisolver
kornia
librosa
llvmlite
numba
numpy
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging
pandas
pathtools
pesq
pillow
pkgutil-resolve-name
pooch
progressbar
protobuf
psutil
pyarrow
pycparser
pydantic
pydeck
pygments
pympler
pyparsing
pyrsistent
pysocks
python-dateutil
pytz-deprecation-shim
pytz
pywavelets
pyyaml
regex
requests
requests[socks]
resampy
resize-right
rich
rotary-embedding-torch
scikit-image
scikit-learn
scipy
semver
sentry-sdk
setproctitle
setuptools
simple-parsing
six
smmap
soundfile
streamlit
threadpoolctl
tifffile
tokenizers
toml
toolz
torch
torchaudio
torchdiffeq
torchlibrosa
torchsde
torchvision
tornado
tqdm
trampoline
transformers
typing-extensions
typing-inspect
tzdata
tzlocal
unidecode
urllib3
validators
watchdog
wcwidth
wheel
zipp
deepspeed>=0.14.4
flask

