flask
flask_sqlalchemy
flask_login
requests
bcrypt
uvicorn
fastapi
sqlalchemy
pydantic
psycopg2-binary
python-dotenv
pydantic[email]
fastapi-cors
python-jose[cryptography]
PyJWT
httpx
aiohttp
python-multipart
aiofiles