<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Audios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>My Audios</h1>
    <ul>
        {% for audio in audios %}
            <li>
                <p>{{ audio.datetime }} - <a href="{{ audio.file_url }}">{{ audio.filename }}</a></p>
                <p>Transcript: {{ audio.text }}</p>
                <p>Language: {{ audio.lang }}</p>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('tts.index') }}">Back to Home</a>
</body>
</html>
